<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XcessRide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <div class="container-fluid" id="header">
        <nav class="navbar navbar-expand-sm navbar-light navbar-dark justify-content-end">
            <a class="navbar-brand" href="#">XcessRide</a>
            <button class="btn btn-success ml-auto mr-1">Pay</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Become A Rider</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Account</a>
                    </li>
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search trip">
                    </form>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" id="payBody">
        <h3>Welcome User</h3>
        Kindly click <a href="#">here</a> to book a ride
    </div>

    <div class="container" id="payee">
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <div class="card shadow" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">Payment Details</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card Details: </h6>
                        <p class="card-text">Your last trip is <span id='amountPaid' class="amount"></span></p>
                        <a href="#" class="card-link">Change payment card</a>
                        <a href="#" class="card-link">Pay now</a>
                            <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                            <button type="button" onClick="payWithRave()">Pay Now</button>
                        <script>
                            paidAmount= document.getElementById ('amountPaid').innerHTML;
                            const API_publicKey = 'FLWPUBK-47638216c6ac1c23f';
                            function payWithRave() {
                                var x = getpaidSetup({
                                    PBFPubKey: 'c28b24559071faa9dc3497e1',
                                    customer_email: "user@example.com",
                                    amount: paidAmount,
                                    currency: "NGN",
                                    txref: "rave-123456",
                                    subaccounts: [
                                        {
                                            id: "RS_78C82FAEB580F8C7BF930C8C04C8D43D" // This assumes you have setup your commission on the dashboard.
                                        }
                                    ],
                                    meta: [{
                                        metaname: "flightID",
                                        metavalue: "AP1234"
                                    }],
                                    onclose: function () { },
                                    callback: function (response) {
                                        var txref = response.tx.txRef; // collect flwRef returned and pass to a 					server page to complete status check.
                                        console.log("This is the response returned after a charge", response);
                                        if (
                                            response.tx.chargeResponseCode == "00" ||
                                            response.tx.chargeResponseCode == "0"
                                        ) {
                                            // redirect to a success page
                                        } else {
                                            // redirect to a failure page.
                                        }

                                        x.close(); // use this to close the modal immediately after payment.
                                    }
                                });
                            }
                        </script>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Receives</h5>
                        <span id="companyAmount">

                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card shadow" style="width: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rider Receives</h5>
                        <span id="riderAmount">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="./script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    
</body>

</html>